/* App.css */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  background-color: #f5f5f5;
}

.login-page h2 {
  margin-bottom: 2rem;
  color: #333;
  font-size: 24px;
}

.login-page form {
  width: 300px;
}

.login-page form label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.login-page form input, select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.login-page form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-page form button:hover {
  background-color: #0056b3;
}

.dashboard-page {
  /* padding: 2rem; */
}

.dashboard-page h2 {
  margin-bottom: 2rem;
  color: #333;
  font-size: 24px;
}

.dashboard-page .nav {
  display: flex;
  background: gainsboro;
  padding: 10px;
}

.dashboard-page .nav .nav-link {
  color: #333;
  font-weight: bold;
}
.dashboard-page .nav .nav-item {
  padding: 10px;
}

.dashboard-page .nav .nav-link:hover {
  color: #007bff;
}

.input-d-form{
  padding: 10px;
  margin: 10px 10px 10px 0px;
}











/* @font-face {
  font-family: "DavidLibre";
  src: local("DavidLibre"),
    url(../fonts/DavidLibre-Regular.ttf) format("truetype");
} */

p {
  font-family: DavidLibre, serif;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  height: max-content;
  min-height: 100px;
  width: 160px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid #7d7d7d; /* Параметры границы */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.do-it-column {
  background-color: #fff0f0;
}

.in-progress-column {
  background-color: #fef2e7;
}

.awaiting-review-column {
  background-color: #fffada;
}

.done-column {
  background-color: #f5ffe5;
}

.movable-item {
  border-radius: 5px;
  background-color: #fafdff;
  height: 100px;
  width: 140px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
